@model IEnumerable<TMS.Model.CommonLookupModel>

@{
    ViewBag.Title = "Index";

}

@using PagedList.Mvc;
@using PagedList;

<br />
<h2 style="margin-top: 65px; margin-bottom: -45px; MARGIN-LEFT: -171px;font-family:'Segoe UI Symbol';font-weight:bold " ">CommonLookup Index</h2>

<p style="margin-top: 42px; margin-bottom: -43px; }">
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary primaryCreateNew" })
</p>



<br />
<br />
<table class="table table-bordered ticketall table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayName("Action")
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayOrder)
            </td>
            <td>
                @if (@item.IsActive)
                {<div class="img-circle"><img src="~/Content/images/check.png" alt="editok" width="18"></div>}
                else
                { <div class=""><img src="~/Content/images/delete.png" alt="edit" width="18"></div>}

            </td>
            <td>
                <a href="@Url.Action("Edit", "CommonLookup", new { Id = item.Id })"><img src="~/Content/images/draww.png" alt="edit" width="18"></a>

                <a href="@Url.Action("delete", "CommonLookup", new { Id = item.Id }) " onclick="return confirm('Are you sure to Delete?')"><img src="~/Content/images/deletee.png" alt="delete" width="18"></a>
            </td>
        </tr>
    }

</table>
