@model IEnumerable<TMS.Model.CommonLookupModel>

@{
    ViewBag.Title = "Index";
 
}

<br />
<h2>CommonLookup Index</h2>

<p >
    @Html.ActionLink("Create New", "Create" ,null, new { @class= "btn primaryCreateNew" })
</p>



<br />
<br />
<table class="table table-bordered  table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayName("Action")
        </th>
        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayOrder)
            </td>
            <td>
                @if (@item.IsActive)
                {<div class="img-circle"><img src="~/Content/images/check.png" alt="editok" width="18"></div>}
                else
                { <div class=""><img src="~/Content/images/delete.png" alt="edit" width="18"></div>}

            </td>
            <td>
                <a href="@Url.Action("Edit", "CommonLookup", new { Id = item.Id })"><img src="~/Content/images/draw.png" alt="edit" width="21"></a>
               

            </td>
        </tr>
    }

</table>
