@model IEnumerable<TMS.Model.RolesModel>

@{
    ViewBag.Title = "Index";
}
<br />
<br />
<h2 style=" margin-top: 36px; margin-bottom: -14px; margin-left: -166px; font-family: 'Segoe UI Symbol'; font-weight: bold; font-size: 42px;">Roles Index</h2>

<br />
<table class="table  ticketall table-bordered  table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleCode)
        </th>
        <th>
            @Html.DisplayName("Action")
        </th>


    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>

                @if (@item.IsActive)
                {<div class="img-circle"><img src="~/Content/images/check.png" alt="editok" width="18"></div>}
                else
                { <div class=""><img src="~/Content/images/delete.png" alt="edit" width="18"></div>}

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleCode)
            </td>
            <td>
                <a href="@Url.Action("ViewPermission", "FormRoleMapping", new { Id = item.Id })"><img src="~/Content/images/settings.png" alt="edit" width="18"></a>

            </td>


        </tr>
    }

</table>
