@model TMS.Model.AccountModel.ChangePasswordModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = null; 
}


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<div class="container">
    <h4 style="font-size: 40px;  font-weight: bold; margin-top: 60px; margin-bottom: -16px; ">Change Password</h4>
    <br />
    <br />
    <br />
    <form method="post" id="form" class="needs-validation" novalidate enctype="multipart/form-data">

        @Html.AntiForgeryToken()

        <div class="col-md-4">
            <label class="form-label labelform">Old Password<strong>*</strong></label>

            @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-4">
            <label class="form-label labelform">New Password<strong>*</strong></label>

            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-4">
            <label class="form-label labelform">Confirm Password<strong>*</strong></label>

            @Html.EditorFor(model => model.ConfirmNewPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "text-danger" })
        </div>





        <br />
        <br />


        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="margin-top: 25px; margin-left: 14px;">
                <input type="submit" value="Save" class="btn btn-primary" /><br />
                <div style="margin-top: 5px;">
                    @Html.ActionLink("Back", "Logout", null, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    </form>
</div>
@Scripts.Render("~/bundles/jqueryval")

