@model TMS.Model.AccountModel.ChangePasswordModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = null;
}
<title>Change Password</title>
<link rel="icon" href="~/favicont.ico">

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<body style="background-color: #EAEAEA">
    <div class="white_box" style="margin-top: 80px; margin-left: 150px; margin-right: 150px;">
        <div class="container">
            <form method="post" id="form" class="needs-validation" novalidate enctype="multipart/form-data">

                @Html.AntiForgeryToken()
                <div>

                    <h2 style="margin: 17px 5px; font-weight:bold; color:#fe6601">Change Password</h2>
                </div>
                <div class="validationMessage" style="background-color: #fff ">

                    <div class="row col">

                        <div class="col-md-6">
                            <label class="form-label labelform">Old Password<strong>*</strong></label>

                            @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6">
                            <label class="form-label labelform">New Password<strong>*</strong></label>

                            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <label class="form-label labelform">Confirm Password<strong>*</strong></label>

                            @Html.EditorFor(model => model.ConfirmNewPassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>






                    <br />
                    <div class="row">
                        <div class="col-md-4" style="">
                            <label for="">&nbsp;&nbsp;</label>
                            <div class="input_box">
                                <button type="submit" class="btn btn-primary btn-md" id="#btnforms" style="margin-top: 0px;">Submit</button>
                                <a href="@Url.Action("Logout", "Account")" class="btn btn-danger float-right right btn-md">Cancel</a>
                            </div>
                        </div>
                    </div>
            </form>
        </div>
        @Scripts.Render("~/bundles/jqueryval")


</body>
