@model TMS.Model.AccountModel.ForgotPasswordModel
@{
    ViewBag.Title = "ForgotPassword";
    Layout = null;
}
<title>Forgot Password</title>
<link rel="icon" href="~/favicont.ico">
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<body style="background-color: #EAEAEA">
    <div class="white_box" style="margin-top: 80px; margin-left: 150px; margin-right: 150px;">
        <div class="container">


            <form id="form" class="needs-validation" enctype="multipart/form-data">
                <div>

                    <h2 style="margin: 17px 5px; font-weight:bold; color:#fe6601">Forgot Password</h2>
                </div>
                <div class="form-horizontal">
                    <hr />
                    @if (@TempData["expired"] != null)
                    {
                        <div id="alert" class="alert alert-danger alert-dismissable">

                            <i class="glyphicon glyphicon-alert" aria-hidden="true"></i> @TempData["expired"]
                        </div>
                    }
                    <div class="row">
                        <div class="col-md-6">
                            <label>Email ID<strong style="color:red ">*</strong></label>
                            <br />
                            @Html.TextBox("EmailId", "", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6" style="">
                            <label for="">&nbsp;&nbsp;</label>
                            <div class="input_box">
                                <button type="submit" class="btn btn-primary btn-md" id="#btnforms" style="margin-top: 0px;">Submit</button>
                                <a href="@Url.Action("Login", "Account")" class="btn btn-danger float-right right btn-md">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    @Scripts.Render("~/bundles/jqueryval")
</body>

<script>
    $('#form').submit(function (e) {
        //;
        e.preventDefault();
        var $form = $(this);
        // ;
        // check if the input is valid using a 'valid' property
        if ($("#EmailId").val()) {
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '/Account/ForgotPassword',
                data: {
                    EmailId: $('#EmailId').val()
                },

                success: function (data) {

                    console.log(data);
                    if (data == true) {
                        $(".text-success").show();
                        $(".text-danger").hide();
                    }
                    else if (data == false) {
                        $(".text-success").hide();
                        $(".text-danger").show();
                        $("#EmailId").val('');
                    }
                },
            });
        }
        else {
            return false;
        }
    });

</script>



<script>
    $(document).ready(function () {

        setTimeout(function () {
            $('#alert').fadeOut('fast');
        }, 3000);
    });
</script>