@model  TMS.Model.AccountModel.ForgotPasswordModel



@{
    ViewBag.Title = "Forgot Password";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>

    <!-- BEGIN META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- END META -->
    <!-- BEGIN STYLESHEETS -->
    <link href="~/Content/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/css/fonts/fonts.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/inc/bootstrap/css/bootstrap.min.css")" />

    <!-- Main Stylesheet -->
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/css/style.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/css/login.css")" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

</head>

<body>
    <div class="imageShowCase">

    </div>
    <div class="loginwrapper">
        <div class="loginmiddel_box">
            <div class="loginbox">
                <div class="loginPageLogo">
                    <img src="~/Content/images/logo.png" alt="Alternate Text" />
                </div>
                @if (!String.IsNullOrWhiteSpace(ViewBag.Success))
                {
                    <label class="bg-success text-white alertmsg">@ViewBag.Success</label>
                }
                @if (!String.IsNullOrWhiteSpace(ViewBag.Error))
                {
                    <label class="bg-error text-white alertmsg">@ViewBag.Error</label>
                }
                @if (!String.IsNullOrWhiteSpace(ViewBag.MailSentSuccess))
                {
                    <label class="bg-success text-white alertmsg">@ViewBag.MailSentSuccess</label>
                }

                @using (Html.BeginForm(new { returnUrl = ViewBag.ReturnUrl }))
                {
                    <div class="logininputs">
                        <div class="inputbox">
                            <label for="Username">Email-Id</label>
                            <div class="div_input">
                                @Html.TextBoxFor(m => m.EmailId, new { @placeholder = "Username" })
                                @Html.ValidationMessageFor(m => m.EmailId)
                            </div>
                        </div>
                        <div class="inputbox button_div">
                            <label for="">&nbsp;</label>
                            <div class="div_input">
                                <input type="submit" value="Send" class="button button_primary">
                            </div>
                        </div>
                        <small><a href="@Url.Action("LogIn","Account")" class="backlink">Back to Login</a></small>
                    </div>
                }
            </div>
        </div>
    </div>

</body>
</html>

<script>

    $(document).ready(function () {
        var successElement = $(".alertmsg");
        if (successElement) {
            setTimeout(function () { successElement.hide(); }, 7000);
        }
    });


</script>
