@model TMS.Model.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet " />

</head>
<body style="background-color:whitesmoke">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <br /><br />
        <section class="login-section">
            <div class="login-from">
               <br > <br />
                     <div class="login-from" style="margin:0 auto; max-width:400px; border:; background-color: white; padding: 20px;">
                       @*  <center><h1 style="color:cadetblue; font:bolder 50px timesnewroman;">TMS</h1></center>*@
                         <div class="login-logo mb-4 text-center">
                             <a href=""><img src="~/Content/images/tms.png" width="200"></a>
                         </div>
                         <center><h2>Sign In</h2></center>
                         <form method="post">
                             <div class="form-group">
                                 <label class="label-title">Email Id</label>
                                 @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                                 @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                             </div>
                             <div class="form-group">
                                 <label class="label-title">Password</label>
                                 @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                                 @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                             </div>
                             <div class="form-group text-right">
                                 <a class="forgotPassword" href="@Url.Action("ForgotPassword", "Account")">Forgot Password ?</a>
                             </div>
                             <div class="form-group">
                                 @Html.CheckBoxFor(model => model.RememberMe)
                                 &nbsp;@Html.LabelFor(model => model.RememberMe, htmlAttributes: new { @class = "control-label" })
                                 @Html.ValidationMessageFor(model => model.RememberMe, "", new { @class = "text-danger" })
                             </div>
                             <div class="mt-4">
                                 <button class="center-block  btn  btn-primary" id="btnlogin" type="submit">Sign In</button>
                             </div>
                         </form>
                     </div>

            </div>
        </section>

    }

    <script src="Content/bootstrap.bundle.min.js"></script>
</body>
</html>

