@model TMS.Model.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>LOGIN</title>
    <link rel="icon" href="~/favicont.ico">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet " />

</head>
<body style="background-color: #EAEAEA ">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <br /><br />
        <section class="login-section">

            <div class="login-from box-shadow">
                <br> <br />
                <div class="login-from shadow-lg p-3 mb-5  rounded  box-shadow" style="margin: 0 auto; max-width: 400px; border-radius: 15px; background-color: white; padding: 20px; box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;">
                    @*  <center><h1 style="color:cadetblue; font:bolder 50px timesnewroman;">TMS</h1></center>*@
                    <div class="login-logo mb-4 text-center">
                        <a href=""><img src="~/Content/images/tms.png" width="200"></a>
                    </div>
                    <center><h2 style="font-family:'Segoe UI' ;font-weight:bold ; color:#212121" >Sign In</h2></center>
                    <form method="post">
                        <div class="form-group">
                            <label class="label-title">User Name<strong style="color:red ;font-weight:bold ; font-size:larger">*</strong></label>
                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label class="label-title">Password<strong style="color:red ;font-weight:bold ; font-size:larger">*</strong></label>

                            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })

                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                        </div>
                        @Html.ActionLink("Forgot Password", "ForgotPassword", "Account")

                        <div class="form-group">
                            @Html.CheckBoxFor(model => model.RememberMe)
                            &nbsp;@Html.LabelFor(model => model.RememberMe, htmlAttributes: new { @class = "control-label" })
                            @Html.ValidationMessageFor(model => model.RememberMe, "", new { @class = "text-danger" })
                        </div>
                        <div class="mt-4">
                            <button class="w-100 center-block  btn-lg  btn-primary " id="btnlogin" type="submit" style="width: 350px;border-width:0px; border-radius:15px;height: 50px; background-color: #4b91f1 " ;>Sign In</button>
                        </div>
                    </form>
                </div>

            </div>
        </section>

    }

    <script src="Content/bootstrap.bundle.min.js"></script>
</body>
</html>
