
@model TMS.Model.TicketModel


@{
    ViewBag.Title = "Display";
}

<h2>Display</h2>



<div>
    <h4>TicketModel</h4>
    <hr />
    <div class="container">
        <dl class="dl-horizontal col-xs-6  ">
            <dt class="details">
                @Html.DisplayNameFor(model => model.TicketName)
            </dt>

            <dd class="details-data">
                @Html.DisplayFor(model => model.TicketName)
            </dd>

         
            <dt class="details">
                @Html.DisplayNameFor(model => model.TypeName)
            </dt>

            <dd class="details-data">
                @Html.DisplayFor(model => model.TypeName)
            </dd>

            <dt class="details">
                @Html.DisplayNameFor(model => model.DescriptionData)
            </dt>

            <dd class="details-data">
                @Html.DisplayFor(model => model.DescriptionData)
            </dd>

            <dt class="details">
                @Html.DisplayNameFor(model => model.PriorityName)
            </dt>

            <dd class="details-data">
                @Html.DisplayFor(model => model.PriorityName)
            </dd>

            <dt class="details">
                @Html.DisplayNameFor(model => model.StatusName)
            </dt>

            <dd class="details-data">
                @Html.DisplayFor(model => model.StatusName)
            </dd>

            <dt class="details">
                @Html.DisplayNameFor(model => model.AssignedToName)
            </dt>

            <dd class="details-data">
                @Html.DisplayFor(model => model.AssignedToName)
            </dd>

            <dt class="details">
                @Html.DisplayNameFor(model => model.CreatedOn)
            </dt>

            <dd class="details-data">
                @Html.DisplayFor(model => model.CreatedOn)
            </dd>

            <dt class="details">
                @Html.DisplayNameFor(model => model.ImageName)
            </dt>

            <dd class="details-data">
                @Html.DisplayFor(model => model.ImageName)
            </dd>

            <dt class="details">
                @Html.DisplayNameFor(model => model.UpdatedOn)
            </dt>

            <dd class="details-data">
                @Html.DisplayFor(model => model.UpdatedOn)
            </dd>


        </dl>

    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
