@model TMS.Model.TicketModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="white_box" style="margin-top: 80px;">
    <div class="container-fluid">
        @using (Html.BeginForm("Edit", "Ticket", FormMethod.Post, new { encType = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div>

                <h2 style="margin: 0px 5px; font-weight:bold; color:#fe6601">Edit Ticket</h2>
            </div>
            <div class="validationMessage" style="background-color: #fff ">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label labelform">Ticket Name<strong style="color:red " >*</strong></label>
                        @Html.EditorFor(model => model.TicketName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TicketName, "", new { @class = "text-danger" })

                    </div>

                    <div class="col-md-6">
                        <label class="form-label labelform">Assigned<strong style="color:red " >*</strong></label>

                        @Html.DropDownListFor(model => model.AssignedTo,
                         new SelectList(Model.AssignedDropdown, "Id", "Name", Model.AssignedTo), "Assigned To", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AssignedTo, "", new { @class = "text-danger" })

                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label labelform">Type<strong style="color:red " >*</strong></label>

                        @Html.DropDownListFor(model => model.TypeId,
                         new SelectList(Model.TypeDropdown, "Id", "Name", Model.TypeId), "All Type", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TypeId, "", new { @class = "text-danger" })

                    </div>

                    <div class="col-md-6">
                        <label class="form-label labelform">Priority<strong style="color:red " >*</strong></label>

                        @Html.DropDownListFor(model => model.PriorityId,
                         new SelectList(Model.PriorityDropdown, "Id", "Name", Model.PriorityId), "Priority", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PriorityId, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label labelform">Status<strong style="color:red " >*</strong></label>

                        @Html.DropDownListFor(model => model.StatusId,
                         new SelectList(Model.StatusDropdown, "Id", "Name", Model.StatusId), "Status", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.StatusId, "", new { @class = "text-danger" })

                    </div>
                    <div class="col-md-6">
                        <label class="form-label labelform">Image</label>

                        @Html.ValidationMessageFor(model => model.ImageName, "", new { @class = "text-danger" })
                        <input type="file" id="imgfile" name="imgfile" class="form-control" multiple="multiple" />

                    </div>

                </div>
                <div class="row">



                    <div class="col-md-12">
                        <label class="form-label labelform">Description</label>

                        @Html.TextAreaFor(model => model.DescriptionData, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DescriptionData, "", new { @class = "text-danger" })

                    </div>

                </div>



                <br />
                <div class="row">
                    <div class="col-md-4" style="">
                        <label for="">&nbsp;&nbsp;</label>
                        <div class="input_box">
                            <button type="submit" class="btn btn-primary btn-md" id="#btnforms" style="margin-top: 0px;">Submit</button>
                            <a href="@Url.Action("Index", "Ticket")" class="btn btn-danger float-right right btn-md">Cancel</a>
                        </div>
                    </div>
                </div>


            </div>
        }

