@using Kendo.Mvc.UI
@using TMS.Model
@{ Layout = "~/Views/Shared/_Layout.cshtml";

    @Scripts.Render("~/bundles/kendo")}



<div class="container-fluid">

    <div class="users-container @if (!TMS.Model.AccessPermission.Add) { <text>no-create-button</text> }" style="margin-top:80px ;margin-bottom:64px">
        <h2 style="font-weight: bold; @if (!TMS.Model.AccessPermission.Add) { <text>margin-top: 0 ;margin-bottom:5px;</text> }">Tickets</h2>
        @if (!TMS.Model.AccessPermission.Add)
        {
            <div style=" margin-left: 835px; margin-top: -40px;" id="priority-dropdown"></div>

        }  @if (TMS.Model.AccessPermission.Add)
        {<div style="margin-bottom: -40px; margin-left: 835px;" id="priority-dropdown"></div>}
        @if (TMS.Model.AccessPermission.Add)
        {

            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary primaryCreateNew" })
        }
    </div>
    <div class="row  ; white_box " style="margin-top: -40px;">
        <input type="hidden" id="priority-param" value="@ViewBag.Priority">

        @if (SessionHelper.UserId == 1)
        {
            @(Html.Kendo().Grid<TMS.Model.TicketModel>()
                 .Name("Ticket")
                .Scrollable(s => s.Height("auto"))
                .Columns(columns =>
                {
                    columns.Bound(p => p.TicketName).Title("Ticket Name").Width(120);
                    columns.Bound(p => p.TypeName).Title("Type").Width(110);
                    columns.Bound(p => p.PriorityName).Title("Priority").Width(100);
                    columns.Bound(p => p.StatusName).Title("Status").Width(90);
                    columns.Bound(p => p.AssignedToName).Title("Assigned To").Width(120);
                    columns.Bound(p => p.CreatedToName).Title("Created By").Width(120);
                    columns.Bound(p => p.ImageName)
                    .Title("Attachment")
                    .ClientTemplate("#if (ImageName != null && ImageName != '') { #" +
                    "<a href='" + Url.Action("DownloadFile", "Ticket", new { fileName = "#=ImageName#" }) + "' target='_blank'>#=ImageName#</a>" +
                    "# } #")
                    .Width(150).Filterable(false); ;
                    columns.Bound(p => p.CreatedOn).Title("Created On").Format("{0:dd/MM/yyyy}").Width(100).Filterable(false); ;
                    columns.Bound(p => p.Id).ClientTemplate(
                    "<a href='" + Url.Action("Comment", "Ticket") + "/#=Id#'>Details   </a>"
                    + "#if ('" + TMS.Model.AccessPermission.Edit + "'=='True') {#"
                    + " | <a href='" + Url.Action("Edit", "Ticket") + "/#=Id#'>  Edit  </a>"
                    + "#}#"
                    + "#if ('" + TMS.Model.AccessPermission.Delete + "'=='True') {#"
                    + " | <a href='" + Url.Action("Delete", "Ticket") + "/#=Id#' onclick='return confirm(\"Are you sure you want to delete this item?\")'>  Delete </a>"
                    + "#}#"
                    ).Width(160).Title("Action").Filterable(false);
                }).HtmlAttributes(new
                {
                    style = ""
                })
                    .Scrollable()
                    .Pageable(pageable => pageable
                    .Refresh(true)
                    .PageSizes(new int[] { 10, 20, 50 })
                    .PreviousNext(true)
                    )
                    .Sortable()
                    .Filterable(filter => filter
                    .Mode(GridFilterMode.Row)
                    .Extra(false)
                    )
                    .DataSource(dataSource => dataSource
                    .Ajax()
                    .PageSize(10)
                    .Read(read => read.Action("GetGridData", "Ticket"))))
        }
        else
        {
            @(Html.Kendo().Grid<TMS.Model.TicketModel>()
                 .Name("Ticket")
                .Scrollable(s => s.Height("auto"))
                .Columns(columns =>
                {
                    columns.Bound(p => p.TicketName).Title("Ticket Name").Width(120);
                    columns.Bound(p => p.TypeName).Title("Type").Width(110);
                    columns.Bound(p => p.PriorityName).Title("Priority").Width(100);
                    columns.Bound(p => p.StatusName).Title("Status").Width(90);

                    columns.Bound(p => p.CreatedToName).Title("Created By").Width(120);
                   @* columns.Bound(p => p.ImageName)
                    .Title("Attachment")
                    .ClientTemplate("#if (ImageName != null && ImageName != '') { #" +
                    "<a href='" + Url.Action("DownloadFile", "Ticket", new { fileName = "#=ImageName#" }) + "' target='_blank'>#=ImageName#</a>" +
                    "# } #")
                    .Width(150).Filterable(false);*@
                   @* columns.Bound(p => p.ImageName)
                   .Title("Attachment")
                   .ClientTemplate("#if (ImageName != null && ImageName != '') { #" +
                       "<a style='pointer-events: none;' href='" + Url.Action("DownloadFile", "Ticket", new { fileName = "#=ImageName#" }) + "' target='_blank'>#=ImageName#</a>" +
                   "# } #")
                   .Width(150)
                   .Filterable(false);*@
                 columns.Bound(p => p.ImageName)
                   .Title("Attachment")
                   .ClientTemplate("#if (ImageName != null && ImageName != '') { #" +
                       "#=ImageName#" +
                   "# } #")
                   .Width(150)
                   .Filterable(false)
                   .Sortable(false)
                   .HtmlAttributes(new { style = " cursor: default;" });


                    columns.Bound(p => p.CreatedOn).Title("Created On").Format("{0:dd/MM/yyyy}").Width(100).Filterable(false); ;
                    columns.Bound(p => p.Id).ClientTemplate(
                    "<a href='" + Url.Action("Comment", "Ticket") + "/#=Id#'>Details   </a>"
                    + "#if ('" + TMS.Model.AccessPermission.Edit + "'=='True') {#"
                    + " | <a href='" + Url.Action("Edit", "Ticket") + "/#=Id#'>  Edit  </a>"
                    + "#}#"
                    + "#if ('" + TMS.Model.AccessPermission.Delete + "'=='True') {#"
                    + " | <a href='" + Url.Action("Delete", "Ticket") + "/#=Id#' onclick='return confirm(\"Are you sure you want to delete this item?\")'>  Delete </a>"
                    + "#}#"
                    ).Width(160).Title("Action").Filterable(false);
                }).HtmlAttributes(new
                {
                    style = ""
                })
                    .Scrollable()
                    .Pageable(pageable => pageable
                    .Refresh(true)
                    .PageSizes(new int[] { 10, 20, 50 })
                    .PreviousNext(true)
                    )
                    .Sortable()
                    .Filterable(filter => filter
                    .Mode(GridFilterMode.Row)
                    .Extra(false)
                    )
                    .DataSource(dataSource => dataSource
                    .Ajax()
                    .PageSize(10)
                    .Read(read => read.Action("GetGridData", "Ticket"))))

        }
    </div>
</div>

@*
    <script>

        $(document).ready(function () {
            $("#Ticket tbody").on("click", "tr", function (e) {
                var grid = $("#Ticket").data("kendoGrid");
                var dataItem = grid.dataItem(this);
                if (e.target.tagName.toLowerCase() === "a") {
                    e.preventDefault();
                } else {
                    window.location.href = "/Ticket/Comment/" + dataItem.Id;
                }
            });
        });
    </script>*@
<script>
    $(document).ready(function () {
        var grid = $("#Ticket").data("kendoGrid");

     
       
        $("#Ticket tbody").on("click", "td[role='gridcell']:not(.k-hierarchy-cell)", function (e) {
            var cell = $(e.currentTarget);
            var column = grid.columns[cell.index()];
            if (column.field === "TicketName" || column.field === "TypeName" || column.field === "PriorityName"  ||
                column.field === "StatusName" || column.field === "AssignedToName" || column.field === "CreatedToName" || column.field === "CreatedOn" ){
                var dataItem = grid.dataItem(cell.closest("tr"));
                window.location.href = "/Ticket/Comment/" + dataItem.Id;
            }
        });
    });
</script>






<script>
    $(function () {
        var param = $("#priority-param").val();
        $("#priority-dropdown").kendoDropDownList({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: {
                data: [
                    { text: "Low", value: "Low" },
                    { text: "Medium", value: "Medium" },
                    { text: "High", value: "High" },
                    { text: "Immediate", value: "Immediate" }
                ]
            },
            optionLabel: "Select priority",
            value: param,
            change: function (e) {
                var value = this.value();
                if (value) {
                    var grid = $("#Ticket").data("kendoGrid");
                    grid.dataSource.filter({ field: "PriorityName", operator: "eq", value: value });

                    this.text(value);
                }
            }
        });
        if (param) {
            var grid = $("#Ticket").data("kendoGrid");
            grid.dataSource.filter({ field: "PriorityName", operator: "eq", value: param });
        }
    });
</script>

