@model TMS.Model.TicketModel

<div>
        <h4>TicketModel</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TicketName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TicketName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TypeId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TypeId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TypeName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TypeName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DescriptionData)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DescriptionData)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PriorityId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PriorityId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PriorityName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PriorityName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StatusId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StatusId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StatusName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StatusName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AssignedTo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AssignedTo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedOn)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ImageName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ImageName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UpdatedOn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UpdatedOn)
            </dd>

        </dl>
    </div>

