<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/bundles/kendoCss")
    @Scripts.Render("~/bundles/kendoJs")
    @Scripts.Render("~/bundles/jqueryval")

    <script src="@Url.Content("~/Content/inc/jquery/jquery-2.1.0.min.js")"></script>
    

    
    <!-- Bootstrap core CSS -->


    <script src="~/Scripts/jquery.validate.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-con  firm/3.3.2/jquery-confirm.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script src="jquery.min.js" type="text/javascript"></script>
    <meta name="description" content="" />
    <meta name="generator" content="" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <script src="~/Content/bootstrap.bundle.min.js"></script>
    
    <script src="~/Scripts/toastr.js"></script>

</head>

<body>
    <div class="bg">
        <nav class="navbar navbar navbar-expand-lg">
            <div class="container">
                <div class="navbar navbar-inversetms navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header" style="color :#a7a7a7">

                            @Html.ActionLink("TMS", "Index", "DashBoard", new { area = "" }, new { @class = "navbar-brand " })
                            @if (User.Identity.IsAuthenticated)
                            {
                                if (User.IsInRole("Administrator"))
                                {


                                    <ul class="navbar-brand navbar-nav navbar-header " style="list-style-type: none ">
                                        <li class="navLinkMargin nav-item">

                                            <div class="dropdown">

                                                <a class="nav-link " style="list-style: none ;color :#a7a7a7">System</a>
                                                <br />

                                                <ul class="dropdown-menu table-hover text-primary bold shadow">
                                                    <li><a class="dropdown-item" href="@Url.Action("Index", "Form")">Form</a></li>
                                                    <li><a class="dropdown-item" href="@Url.Action("Index", "Roles")">Role</a></li>
                                                    <li><a class="dropdown-item" href="@Url.Action("Index", "CommonLookup")">CommonLookup</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="navLinkMargin nav-item">
                                            <a class="nav-link" style="color :#a7a7a7" href="@Url.Action("Register", "Account")">Register</a>
                                        </li>

                                    </ul>
                                }
                            }
                            <ul class="navbar-brand navbar-nav navbar-header " style="list-style-type: none ">
                                <li class="navLinkMargin nav-item">

                                <li class="navLinkMargin nav-item">
                                    <a class="nav-link" style="color :#a7a7a7" href="@Url.Action("Index", "Ticket")">Ticket</a>
                                </li>
                                </li>
                            </ul>

                            <ul class="navbar-brand navbar-nav navbar-header" style="list-style-type: none ; margin-left:555px ">
                                <div class="head_right_col d-flex align-items-center justify-content-end ">

                                <li class="navLinkMargin nav-item">

                                    <div class="dropdown">

                                        <a class="nav-link " style="list-style: none ;color :#a7a7a7">Account</a>
                                        <br />
                                        <div class="toprightbar d-flex align-items-center justify-content-end">
                                            @Html.Partial("_LoginPartial")
                                            @*<a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false"> </a>*@
                                        </div>
                                        <ul class="dropdown-menu table-hover text-primary bold shadow">
                                            <li><a class="dropdown-item" href="@Url.Action("ChangePassword","Account")">Change Password</a></li>
                                            <li><a class="dropdown-item" href="@Url.Action("Logout","Account")">Logout</a></li>
                                        </ul>
                                    </div>
                                </li>
                        </div>
                    </div>
                    </ul>

                </div>
            </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer>
        </footer>
    </div>
   
   
    </div>
    </nav>
    </div>
</body>
</html>

<script>
    $(document).ready(function () {
        $('.dropdown').hover(
            function () {
                $(this).find('ul').css({
                    "display": "block",
                    "margin-top": 0
                });
            },
            function () {
                $(this).find('ul').css({
                    "display": "none",
                    "margin-top": 0
                });
            }
        );
        var message = $('#Messages').text();
        if (message != '') {
            toastr.success(message);
        }
        var emessage = $('#EMessages').text();
        if (emessage != '') {
            toastr.error(emessage);
        }
    });
</script>