@model TMS.Model.UsersModel

@{
    ViewBag.Title = "Edit";
}

<!DOCTYPE html>

<html>
<head>
    
    <title>Edit</title>
</head>
<body>

    <div class="white_box" style="margin-top: 80px;">
        <div class="container-fluid">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div>

                    <h2 style="margin: 0px 5px; font-weight:bold; color:#fe6601">Edit User</h2>
                </div>
                <div class="validationMessage" style="background-color: #fff ">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.UserId)

                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label labelform">First Name<strong>*</strong></label>
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            <label class="form-label labelform">Last Name<strong>*</strong></label>
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    
                    <div class="row">

                        <div class="col-md-6">
                            <label class="form-label labelform">Role<strong>*</strong></label>
                            @Html.DropDownListFor(model => model.Role,
                               new SelectList(Model.RoleDropdown, "Key", "Name", Model.Role), "ROLE", new { @class = "form-control" })

                            @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6">
                            <label class="form-label labelform ">Active</label>
                            <div class="checkbox" style="margin-top: -22px; margin-left: 90px; ">
                                @Html.EditorFor(model => model.IsActive)
                                @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.HiddenFor(a => a.UserName)
                        </div>

                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4" style="">
                            <label for="">&nbsp;&nbsp;</label>
                            <div class="input_box">
                                <button type="submit" class="btn btn-primary btn-md" id="#btnforms" style="margin-top: 0px;">Submit</button>
                                <a href="@Url.Action("Index", "Users")" class="btn btn-danger float-right right btn-md">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</body>
</html>
