@model IEnumerable<TMS.Model.FormModel>
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "Index";
}
<br>
<br />
<br>
<br />

<h2 style="font-size: 44px; margin-top: 35px; margin-bottom: -84px; margin-left: -165px; font-family: 'Segoe UI Symbol'; font-weight: bold ">Form Index</h2>


<br />
<br />
<p>

    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary primaryCreateNew" })
</p>

<br />
<table class="table ticketall table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NavigateURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentFormId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormAccessCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDisplayMenu)
        </th>
        <th>
            @Html.DisplayName("Action")
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NavigateURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentFormId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormAccessCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayOrder)
            </td>
            <td>
                @if (@item.IsActive)
                {<div class="img-circle"><img src="~/Content/images/check.png" alt="editok" width="18"></div>}
                else
                { <div class=""><img src="~/Content/images/delete.png" alt="edit" width="18"></div>}

            </td>
            <td>
                @if (@item.IsActive)
                {<div class="img-circle"><img src="~/Content/images/check.png" alt="editok" width="18"></div>}
                else
                { <div class=""><img src="~/Content/images/delete.png" alt="edit" width="18"></div>}
            </td>

            <td>
                <a href="@Url.Action("Create", "Form", new { Id = item.Id })"><img src="~/Content/images/draww.png" alt="edit" width="21"></a>
                <a href="@Url.Action("delete", "Form", new { Id = item.Id }) " onclick="return confirm('Are you sure to Delete?')"><img src="~/Content/images/deletee.png" alt="edit" width="21"></a>


            </td>
        </tr>
    }

</table>
